
  
<h3><b>Functions</b></h3><br>

<br>Introduction<br>

<br>Functions are the fundamental building block of any applications in JavaScript. They’re how you build up layers of abstraction, mimicking classes, information hiding, and modules. In TypeScript, while there are classes, namespaces, and modules, functions still play the key role in describing how to do things. TypeScript also adds some new capabilities to the standard JavaScript functions to make them easier to work with.

<br>Types of working with functions:<br>

<br>1)Named functions<br>

<br>2)Anonymous functions<br>

<br>3)Function with parameter declarations<br>

<br>4)optional parameter functions<br>

<br>5)Arrow functions<br>

<br>6)function with predefined and call parameter initialization.<br>
