
<h3 style='color:blue'>ANGULAR</h3>

<p>Welcome to Angular! Angular helps you build modern applications for the web, mobile, or desktop.
    
    
        <br>The difference between Angular 2-6 isn't massive if we're talking about the core fundamentals, but AngularJS (1.0) certainly is!

        <br>In this tutorial, I'm going to teach you by example, while discussing how things work and why they work. 

        <br>Our app will fetch data from a mock API service and display it in a beautiful UI.

        <br>You're going to learn how to:

        <br>->Install Angular 6 with the Angular CLI
        <br>->Understand and Create Components
        <br>->Understand and Create Services
        <br>->Working with HTML & CSS in Angular 6
        <br>->Working with Angular 6 Routing
        <br>->Working with the Angular 6 HTTP Client<br>

        <br>Let's get started!<br>

        <br><b>1)Installation</b><br>
        <br>To install it:

        <br>> npm install -g @angular/cli
        <br>> npm -v<br>

        <br><b>2)Creating Angular Project</b><br>

        <br>> ng new ng6-proj <br>

        <br><b>3)To Run Project</b><br>

        <br>> ng serve -o
</p> 
